* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom right, var(--deg-uno), #81D4FA); 
}

/*Inicio de la primera página.*/
:root {
    --fondo-color: black;
    --fondo-color1: #9acef4;
    --deg-uno:#E1BEE7;
    --deg-dos:#81D4FA;
    --letra-uno: #3F51B5;
    --soy-uno:#3F51B5;
    --letra-unoo: #2789d4;
    --letra-dos: #3F51B5;
}

.sol1 {
    fill: var(--fondo-color);
    
}

#barra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.2vw !important;
    z-index: 1000;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0.4vw 1.2vw rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    padding-left: 32vw;
}

#barra nav {
    display: flex;
    gap: -1vw; 
    align-items: center;
}

#barra a {
    color: white;
    text-decoration: none;
    padding: 0.8vw 2vw;
    font-size: 1.4vw;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
    outline: none; 
}

#barra a:hover {
    transform: translateY(-3px); 
}

#barra nav a { 
    color: var(--letra-dos);
    text-decoration: none;
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
    outline: none;
}

.inicio, .sobre-mi, .proyectos, .tecnologias, .contacto {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


#barra a:focus {
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

#imagen {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin-top: 4vw;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}

#imagen:hover {
    transform: scale(1.1);  
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); 
}


#inicio {
    
    color: #333;
    text-align: center;
    padding: 6rem 0;
    height: 100vh;
    font-family: 'Lobster', sans-serif;
}

#inicio h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 2vw;
    display: inline-block;  
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #333; 
    width: 0;
    animation: escribir 4s steps(30) 1s 1 normal both, parpadeo 0.7s step-end infinite; 
}

@keyframes escribir {
    100% {
        width: 40%; 
    }
}

@keyframes parpadeo {
    0%, 100% {
        border-color: #333; 
    }
    50% {
        border-color: transparent; 
    }
}

#des {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 3vw;
}

#cv {
    background-color: #4d72a9;
    color: black;
    border-radius: 2vw;
    text-decoration: none;
    width: 10vw;
    height: 3vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#cv:hover {
    background-color: #3F51B5;
}

/*Inicio de la página 2.*/

#inicio2 {
    padding: 20px;  
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#uno {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    color: var(--letra-uno); 
    margin-bottom: 2vw; 
    margin-top: 4vw; 
    text-transform: uppercase; 
}

.container2 {
    border-radius: 2vw;
    margin-left: -35vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#soy {
    width: 40vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    text-align: justify;
    color: black; 
    line-height: 1.6; 
    margin-left: 10vw;
}

#foto {
    width: 25vw;  
    height: 25vw; 
    overflow: hidden; 
    border-radius: 50%; 
    margin-top: -24vw;
    margin-left: 58vw;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

#foto:hover {
    transform: scale(1.1);  
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); 
}

/*página habilidades*/
#inicio6 {
    padding: 20px;  
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#ha {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    color: var(--letra-uno); 
    margin-top: 5vw;
    text-transform: uppercase; 
}

#equipo {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.2vw;
    margin-top: 1vw;
    margin-left: 2vw;
}

#escucha {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.2vw;
    margin-top: -2.8vw;
    margin-left: 21.5vw;
}

#responsabilidad {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.2vw;
    margin-top: -2.8vw;
    margin-left: 40vw;
}

#puntualidad {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.2vw;
    margin-top: -2.8vw;
    margin-left: 60vw;
}

#tra, #es, #res, #pun {
    width: 13.5vw;                   
    height: 13.5vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 8px; 
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);  
    margin-right: 5vw;
    margin-bottom: 2;
    margin-top: 1vw;
}

#tra:hover, #es:hover, #res:hover, #pun:hover {
    transform: translateY(-5px);   
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

#pun {
    margin-right: 0;
}

#em {
    width: 13.5vw;                   
    height: 13.5vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 8px; 
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);  
    margin-right: 5vw;
    margin-bottom: 2;
    margin-left: 10vw;
}

#cre {
    width: 13.5vw;                   
    height: 13.5vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 8px; 
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);  
    margin-right: 5vw;
    margin-bottom: 2;

}

#con {
    width: 13.5vw;                   
    height: 13.5vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 8px; 
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);  
    margin-right: 5vw;
    margin-bottom: 2;

} 

#em:hover, #cre:hover, #con:hover {
    transform: translateY(-5px);   
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

#empatia {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.2vw;
    margin-top: 1vw;
    margin-left: 15vw;
}

#creatividad {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.2vw;
    margin-top: -2.5vw;
    margin-left: 32vw;
}

#confianza {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.2vw;
    margin-top: -3.1vw;
    margin-left: 52vw;
}

/*Inicio de la página 3*/
#inicio3 {
    padding: 20px;  
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

#h {
}

#dos {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    width: 55vw;
    color: var(--letra-uno); 
    margin-bottom: 2vw;  
    text-transform: uppercase;
}

.container3 {
    gap: 2rem; 
    justify-items: center; 
    margin-top: 1.5vw;
}

.card, .card1, .card2 {
    background-color: #fff; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.card-img-top {
    width: 100%; 
    height: 15rem; 
    object-fit: cover; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.card-body {
    padding: 1rem;
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3; 
}

.card:hover, .card1:hover, .card2:hover {
    transform: translateY(-5px); 
}

/*Inicio de página 4.*/
#inicio4 {
    padding: 20px;  
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

#tec {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    color: var(--letra-uno); 
    margin-bottom: 2vw;  
    text-transform: uppercase;
    margin-top: 2vw;
}
.container4 {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1rem,2vw,3rem);
    width: 60vw;
    justify-content: center;
}

#Ima, #ima1, #ima2, #ima3, #ima4, #ima5, #ima6 {
    width: clamp(5rem,20vw,15rem);                   
    height: clamp(5rem,20vw,15rem);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 8px; 
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);  
}



#Ima:hover, #ima1:hover, #ima2:hover, #ima3:hover, #ima4:hover, #ima5:hover, #ima6:hover {
    transform: translateY(-5px);   
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);  
}

/*Inicio de la página 5*/
#inicio5 { 
    padding: 20px;  
    height: 90vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

#con1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    color: var(--letra-uno); 
    margin-bottom: 5vw;  
    text-transform: uppercase;
}

#form{
    background-color: #c2e2fa;
    width: clamp(35rem, 28vw, 45rem);                   
    height: clamp(15rem, 20vw, 25rem);
    border-radius: 2vw;
    margin-bottom: 10vw;
}

#nombre{
    margin-top: 5vw;
    font-size: 1.2vw;
}

#email{
    font-size: 1.2vw;
}

#mensaje{
    font-size: 1.2vw;
}

#enviar{
    font-size: 1.2vw;
}

#derechos {
    font-size: 0.6vw;
    margin-left: -45vw;
    margin-top: -1.8vw;
    color: white;
}

#campus {
    font-size: 0.6vw;
    margin-left: 35vw;
    margin-top: -1.8vw;
    color: white;
}
#git {
    width: 1.5vw !important;
    height: 1.5vw !important;
    margin-left: 1vw;
    transition: all 0.3s ease; 
}

#git:hover {
    transform: scale(1.2); 
    opacity: 0.8; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

#in {
    width: 1.5vw !important;
    height: 1.5vw !important;
    margin-left: 10vw;
    transition: all 0.3s ease; 
}

#in:hover {
    transform: scale(1.2); 
    opacity: 0.8; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.footer-bar {
    width: 100%;
    height: 2.5vw;
    background-color: var(--letra-unoo);
    padding: 10px 0;
    text-align: center;
    margin-top: -2vw; 
}

/*Celular*/
@media (max-width: 600px) {
    #barra {
        width: 98vw; 
        height: 12vw; 
        left: 2vw; 
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    #barra nav {
        display: flex;
        gap: 1.5vw; 
        align-items: flex-start; 
        padding-left: 1vw; 
    }

    #barra a {
        font-size: 4vw; 
        padding: 2vw 3vw;
        text-align: left; 
        letter-spacing: 0.1vw; 
        margin-left: -2vw; 
        color: black !important;
    }

    .inicios, .sobre-mi, .proyectos, .tecnologias, .contacto {
        margin-left: -2vw; 
        font-size: 2.4vw !important;
    }

    #logo1, #logo2, #logo3, #logo4, #logo5 {
        width: 4vw; 
        height: 4vw;
    }

    .container {
        height: auto;
        padding: 10vw 5vw;
    }
    
    #imagen {
        margin-top: -8vw;
        width: 55vw;
        height: 55vw;
    }
    
    #inicio h1 {
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 15vw;
        font-size: 8vw;
        animation: escribir 2s steps(50) forwards, parpadeo 1s infinite step-end;
    }
    
    #inicio p {
        margin-top: 25vw;
        font-size: 1.5rem;
    }
    
    @keyframes escribir {
        100% {
            width: 92%; 
        }
    }
    
    @keyframes parpadeo {
        0%, 100% {
            border-color: #333; 
        }
        50% {
            border-color: transparent; 
        }
    }
    
    /* Página 2 */
    .container2 {
        margin-top: -10vw;
        width: 90vw;
        height: auto;
    }
    
    .container2 p {
        font-size: 4vw;
    }
    
    #uno {
        font-size: 5vw;
    }
    
    /* Página 3 */
    #inicio3 {
        height: auto;
        padding-top: 15vw;
    }
    .container3 {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }
    
    .card, .card1, .card2 {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        transition: transform 0.3s ease;
    }
    
    .card:hover, .card1:hover, .card2:hover {
        transform: translateY(-5px);
    }
    
    #dos {
    }
    
    /* Página 4 */
    
    #inicio4 {
        height: auto;
    }
    #tec {
        font-size: 5vw;
        margin-top: 15vw;
    }
  
   
    /* Página 5 */

    #inicio5 {
        height: 150vw;
    }

    #con {
        font-size: 5vw;
        margin-top: -8vw;
    }
    form {
        width: 90%;
    }

    #git{
        width: 8vw;
        height: 8vw;
        margin-left: 8vw;
    }

    #in {
        width: 8vw;
        height: 8vw;
        margin-left: 15vw;
    } 

    .footer-bar {
        width: 100%;
        background-color: #59ace8;
        padding: 10px 0;
        text-align: center;
        margin-top: -48px; 
    }
    
    .footer-bar a {
        margin: 0 15px; 
    }
    
    .footer-bar img {
        width: 8vw !important; 
        height: 8vw !important;
        transition: transform 0.3s ease;
    }
    
    .footer-bar img:hover {
        transform: scale(1.2); 
    }
}

/*Tablets*/
@media (min-width: 600px) and (max-width: 1024px) {

    #barra {
        height: 9vw;
    }

    #barra a {
        font-size: 4vw;
        padding: 2.5vw 4vw;
        color: black !important;
    }

    #imagen {
        width: 50vw;
        height: 50vw;
    }

    #inicio h1 {
        font-size: 2.8rem;
        margin-top: 8vw;
    }

    #inicio p {
        font-size: 2.2rem;
    }

    .inicios, .sobre-mi, .proyectos, .tecnologias, .contacto {
        font-size: 16.5px !important;
    }

    #logo1, #logo2, #logo3, #logo4, #logo5 {
        width: 2.5vw; 
        height: 2.5vw;
    }

    @keyframes escribir {
        100% {
            width: 70%; 
        }
    }
    
    @keyframes parpadeo {
        0%, 100% {
            border-color: #333; 
        }
        50% {
            border-color: transparent; 
        }
    }

    /* Página 2 */

    #inicio2 {
        height: auto;
    }

    .container2 {
        width: 92vw;
        height: auto;
        margin-top: 10vw;
    }

    .container2 p {
        font-size: 4vw;
    }

    #uno {
        font-size: 7vw;
    }

    /* Página 3 */

    #inicio3 {
        height: auto;
    }

    .container3 {
        flex-direction: column;
        align-items: center;
        margin-left: -1.8vw;
    }

    .card, .card1, .card2 {
        width: 25rem !important; 
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        margin: 10px 0; 
        transition: transform 0.3s ease;
    }

    .card-title {
        font-size: 4vw !important;
    }

    .card-text {
        font-size: 3vw !important;
    }

    .btn-primary {
        font-size: 3vw !important;
    }
    
    #dos {
        margin-top: -120vw;
        margin-left: 5vw;
        font-size: 4.4vw;
    }

    /* Página 4 */

    #inicio4 {
        height: auto;
    }

    #tec {
        font-size: 5vw;
        margin-top: 10vw;
        
    }

    #Ima {
        width: 22vw;
        height: 22vw;
        margin-left: 15vw;
        margin-top: 7vw;
    }

    
    /* Página 5 */

    #con {
        font-size: 7vw;
        margin-top: -8vw;
    }

    form {
        width: 70vw;
        height: 70vw;
        margin-top: 10vw;
    }

    label {
        font-size: 4vw;
    }

    #nombre {
        font-size: 3vw;
    }

    #correo {
        font-size: 3vw;
    }

    #asunto {
        font-size: 3vw;
    }

    #mensaje {
        font-size: 3vw;
    }

    #git {
        width: 11vw;
        height: 11vw;
        margin-top: 3vw;
        margin-left: -2vw;
    }

    #in {
        width: 11vw;
        height: 11vw;
        margin-top: 3vw;
        margin-left: 12vw;
    }

    .footer-bar {
        width: 100%;
        height: 17vw;
        background-color: #59ace8;
        padding: 10px 0;
        text-align: center;
        margin-top: -134px; 
    }
    
    .footer-bar a {
        margin: 0 15px; 
    }
    
    .footer-bar img {
        width: 10vw !important; 
        height: 10vw !important;
        transition: transform 0.3s ease;
    }
    
    .footer-bar img:hover {
        transform: scale(1.2); 
    }
}

/*Pantallas más grandes*/
@media (min-width: 1024px) {
    /* Barra de navegación */
    #barra {
        height: 6vw;
    }

    #barra a {
        font-size: 1.8vw;
        padding: 1vw 2vw;
    }

    /* Imagen en la sección de inicio */
    #imagen {
        width: 20vw;
        height: 20vw;
    }

    #inicio h1 {
        font-size: 3rem;
    }

    #inicio p {
        font-size: 2rem;
    }

    /* Página 2 */
    .container2 {
        width: 60vw;
        height: 30vw;
    }

    .container2 p {
        font-size: 1.3vw;
    }

    /* Página 3 */
    .container3 {
        grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    }

    .card {
        width: 18rem;
    }

    /* Página 4 */


    /* Página 5 */
    form {
        width: 50%;
    }

    /* GitHub e Instagram */
    #git, #in {
        width: 3vw;
        height: 3vw;
    }
}
